.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Use flexbox for list group items */
.list-group-item {
  display: flex;
  align-items: center; /* Vertically center the content */
  height: 80px; /* Set to your preferred height */
  font-size: 18px; /* Adjust font size */
  padding: 0 20px; /* Optional, reduce horizontal padding if needed */
}

/* Optional: Add hover effect for better UX */
.list-group-item:hover {
  background-color: #f1f1f1;
}
